.login-bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
}
.login-card {
  height: 420px;
  width: 450px;
  background-color: #272727;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

@media (max-width: 576px) {
  .login-card {
    width: 90%;
  }
}

.label {
  color: white;
  font-size: 16px;
}
.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
.login-input {
  background-color: transparent;
  border: 2px solid #2c364c;
  width: 100%;
  height: 40px;

  color: white;
  margin-top: 5px;
  border-radius: 3px;
}
.login-label-input-container {
  width: 100%;
}
.login-btn {
  margin-top: 20px;
  width: 100%;
  height: 38px;
  background-color: #4f46e5;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
}
.error-text {
  color: red;
  font-weight: bold;
  align-self: flex-start;
}
button {
  cursor: pointer;
  outline: none;
}
