.skill-item-bg-container {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 30px 0px;
}

@media (max-width: 576px) {
  .skill-item-bg-container {
    width: 50%;
  }
}
.skill-details-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.skill-name {
  font-weight: 500;
  margin-left: 20px;
  font-size: 18px;
}
.skill-image {
  height: 70px;
  width: 60px;
}

@media (max-width: 576px) {
  .skill-name {
    margin-left: 10px;
    font-size: 16px;
  }
  .skill-image {
    height: 50px;
    width: 40px;
  }
}
