.company-link {
  color: #4f46e5;
  text-decoration: none;
}
.job-item-details-responsive-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.job-item-details {
  padding-left: 50px;
  padding-right: 50px;
  width: 80%;
  align-self: center;
}
.skills-list-container {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0px;
}

.life-at-company-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.life-at-company-text-container {
  width: 60%;
}
.life-at-company-image {
  width: 200px;
  height: 200px;
}
.life-at-company-description {
  font-size: 20px;
}
@media (max-width: 576px) {
  .job-item-details {
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .life-at-company-container {
    flex-direction: column;
  }
  .life-at-company-text-container {
    width: 100%;
  }
  .life-at-company-description {
    font-size: 16px;
  }
  .life-at-company-image {
    width: 100%;
  }
}
.job-item-details-page-body {
  flex-direction: column;
}
.similar-job-section-heading-container {
  width: 80%;
  align-self: center;
}
.similar-jobs-container {
  display: flex;

  list-style-type: none;
  padding: 0px;
  width: 80%;

  align-self: center;
}
@media (max-width: 576px) {
  .similar-jobs-container {
    flex-direction: column;
    width: 90%;
  }
}
